////////////////////////////
//   AthensMC Variables   //
////////////////////////////

// AthensMC Specific Colors
$athens_grey: #ecf0f1; //Background color

// Footer
$footer-height: 164px;

$primary: #0055b0;
