name: Tests

on:
  pull_request:
    branches:
      - "*"
  push:
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:13
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password
        ports: ["5432:5432"]
      redis:
        image: redis
        ports: ["6379:6379"]
        options: --entrypoint redis-server

    steps:
      - uses: actions/checkout@v4

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 14.x
          cache: yarn

      - name: Install dependencies
        run: |
          yarn install --frozen-lockfile

      # - name: Standardrb Check
      #   run: bundle exec standardrb

      # Uncomment to enable Brakeman checks in CI
      #     - name: Brakeman Check
      #       run: bundle exec brakeman

      - name: Run tests
        env:
          DATABASE_URL: postgres://postgres:password@localhost:5432/test
          REDIS_URL: redis://localhost:6379/0
          RAILS_ENV: test
          PG_USER: postgres
        run: |
          bin/rails test:prepare
          bin/rails db:test:prepare
          bin/rails test

# Uncomment to run system tests in CI
#          bin/rails test:system
